/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.backup
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
.DS_Store

.phpunit.result.cache
Homestead.json
Homestead.yaml

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
